body {
    background-color: #3119f5;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: red;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

/* Cards */

.card {
    position: relative;
    height: 200px;
    width: 150px;
    border: 1px solid #000;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.card.back {
    background: url("/assets/images/pokeball.png") no-repeat center; 
    background-size: contain;
    background-color: orange;
}

.card.front {
    background: url("/assets/images/charmander.png") no-repeat center; 
    background-size: contain;
    background-color: #fafafa;
}
.card.charmander {
    background: url("/assets/images/charmander.png") no-repeat center; 
    background-size: contain;
    background-color: #fafafa;
}

.card.bulbasaur {
    background: url("/assets/images/bulbasaur.png") no-repeat center; 
    background-size: contain;
    background-color: #fafafa;
}