body {
    background-color: #3119f5;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #d41a1a;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

/* Sidebar */

.pokemon-text {
    max-width: 100%;
    max-height: 100%;
}

.sidebar {
    min-height: 100vh;
    background-color: #99a5a5;
}

.text-box {
    border-style: solid;
    border-width: 5px;
    border-color: #fafafa;
    margin: 10px;
    padding: 20px;
    background-color: purple;
    color: #fafafa;
    -webkit-appearance: none;
}

#start-game {
    padding: 5px;
    font-size: 15px;
    color: #fafafa;
    border-radius: 15px;
    background-color: #f54848ba;
}

/* Cards */

.card {
    position: relative;
    height: 180px;
    width: 130px;
    border: 2px solid #000;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.card:before {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: url("../images/pokeball.png") no-repeat center; 
    background-size: contain;
    background-color: orange;
}

.card.open:before {
    display: none;
}

/* Pokemon cards */

.card#charmander { 
    background: url("../images/charmander.png") no-repeat center;
    background-size: contain;
    background-color: #fafafa;
}
    
.card#bulbasaur { background: url("../images/bulbasaur.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#pikachu { background: url("../images/pikachu.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#crocodile { background: url("../images/crocodile.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#eevee { background: url("../images/eevee.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#gengar { background: url("../images/gengar.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#sandslash { background: url("../images/sandslash.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

.card#squirtle { background: url("../images/squirtle.png") no-repeat center;
background-size: contain;
background-color: #fafafa;
}

/* Victory text */

/* https://www.youtube.com/watch?v=3uuQ3g92oPQ&t=724s */

#victory-text {
    background-color: black;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #c71884;
  font-size: 60px;
}

.restart {
    color: red;
}

a:hover {
    text-decoration: none;
    color: rgb(194, 78, 78);
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
}

/* Footer */

.footer {
    background-color: #d41a1a;
    color: #fafafa;
    position: relative;
    bottom: 0;
}

.ml-auto {
    float: right;
}