body {
    background-color: #3119f5;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: red;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

/* Cards */

.card {
    height: 200px;
    width: 150px;
    background-color: #fafafa;
    border: 1px solid #000;
    margin: 20px;
    border-radius: 20px;
}

.card-back {
  background: url("/assets/images/pokeball.png") no-repeat center; 
}

.card.flip {
  transform: rotateY(180deg);
}