body {
    background-color: #3119f5;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: red;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

/* Cards */

.card {
    position: relative;
    height: 200px;
    width: 150px;
    border: 1px solid #000;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:before {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: url("/assets/images/pokeball.png") no-repeat center; 
    background-size: contain;
    background-color: orange;
}

.card.open:before {
    display: none;
}