body {
    background-color: #3119f5;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: red;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 1px;
}

/* Sidebar */

.pokemon-text {
    max-width: 100%;
    max-height: 100%;
}

.sidebar {
    min-height: 100px;
    background-color: #99a5a5;
}

.text-box {
    border-style: solid;
    border-width: 5px;
    border-color: #fafafa;
    margin: 10px;
    padding: 20px;
    background-color: purple;
    color: #fafafa;
}

/* Cards */

.card {
    position: relative;
    height: 170px;
    width: 130px;
    border: 1px solid #000;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:before {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: url("/assets/images/pokeball.png") no-repeat center; 
    background-size: contain;
    background-color: orange;
}

.card.open:before {
    display: none;
}

/* Victory text */

/* https://www.youtube.com/watch?v=3uuQ3g92oPQ&t=724s */

#victory-text {
    background-color: black;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #c71884;
  font-size: 100px;
}

.overlay-text-small {
  font-size: .3em;
  text-decoration: none;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}



/* Footer */

.footer {
    background-color: red;
    color: #fafafa;
    position: fixed;
    bottom: 0;
}

.ml-auto {
    float: right;
}